<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partials/head.ejs') %>
  <body>
    <section class='main'>
      <h1>Coffee!</h1>
      <section class='modules flex-container flex-xy-center'>
        <div class="cashier-login module">
          <h2>Cashier</h2>
          <a href='/cashier' class='login-cashier-button' type="button" name="button">Login</a>
        </div>
        <div class="barista-login module module-flex">
          <h2>Barista Login</h2>
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <!-- LOGIN FORM -->
          <form action="/login" method="post">
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password">
              </div>

              <button type="submit" class="btn btn-warning btn-lg">Login</button>
          </form>
          <p>Need an account? <a href="/signup">Signup</a></p>
        </div>
        <div class="manager-login module module-flex">
          <h2>Manager Login</h2>
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <!-- LOGIN FORM -->
          <form action="/login-manager" method="post">
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password">
              </div>

              <button type="submit" class="btn btn-warning btn-lg">Login</button>
          </form>
          <p>Need an account? <a href="/signup">Signup</a></p>
        </div>
      </section>
    </section>
  </body>
</html>
